
/*font-family: 'Abel', sans-serif;
font-family: 'Bitter', serif;*/


html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Bitter', serif;
}

.title-page {
	border: .7em solid black;
	height: 46em;
	width: 100%;
	background-image: url(https://www.rmiguides.com/_includes/_images/rainier_skitouring_full.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#title {
	font-weight: 700;
	padding-top: 5em;
	padding-left: 2em;
	padding-bottom: 8em;
	text-shadow: 2px 2px white;
}

#quizstart {
	border-radius: 15px;
	border: 2px solid white;
	margin-left: 43%;
	height: 4em;
	width: 10em;
	background-color: black;
	color: white;
	font-size: 1em;
}

#tryagain,
#nextquestion {
	border-radius: 15px;
	border: 2px solid white;
	height: 2em;
	width: 8em;
	background-color: black;
	color: white;
	font-size: 1em;
}

#nextquestion {
	margin-top: 2em
}

#quizstart:hover,
#tryagain:hover,
#nextquestion:hover {
	background-color: #8D0018;
}

#quizstart:active,
#tryagain:active,
#nextquestion:active {
	background-color: black;
}

button:focus {
	outline: 0;
}

.quiz-page,
.score-page {
	height: 46em;
	background-color: black;
}

.quiz-page-center,
.score-page-center {
	background-image: url(http://image.naldzgraphics.net/2012/09/29-close-up.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 60em;
	margin: 0 auto auto;
	text-align: center;
	padding-top: 5em;
	border: 3em solid black;
	height: 46em;
}

#question {
	padding-bottom: 1em;
}

input[type=radio] {
	margin-bottom: 1em;
	text-align: left;
}

#explanation {
	padding-top: 1em;
	width: 20em;
}

#score {
	padding-top: 3em;
	padding-bottom: 4em;
}

li {
	display: inline-block;
}

#circle {
	padding-right: 1em;
	margin-top: -2em;
}


